<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title data-th-text="#{meta.title}">TPE Online Search and Tracking | Welcome...</title>
    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="../../../resources/lib/bootstrap/css/bootstrap.min.css"
          data-th-href="@{/resources/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../../resources/css/style.css" data-th-href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" href="../../../resources/css/headers/header1.css "
          data-th-href="@{/resources/css/headers/header1.css}"/>
    <link rel="stylesheet" href="../../../resources/css/responsive.css"
          data-th-href="@{/resources/css/responsive.css}"/>
    <link rel="shortcut icon" href="favicon.ico" data-th-href="@{/resources/favicon.ico}"/>
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../resources/lib/font-awesome/css/font-awesome.css"
          data-th-href="@{/resources/lib/font-awesome/css/font-awesome.css}"/>

    <!-- CSS Theme -->
    <link rel="stylesheet" href="../../../resources/css/themes/red.css" id="style_color"
          data-th-href="@{/resources/css/themes/red.css}"/>
    <link rel="stylesheet" href="../../../resources/css/themes/headers/header1-red.css" id="style_color-header-1"
          data-th-href="@{/resources/css/themes/headers/header1-red.css}"/>
</head>
<body>
<!--=== Top ===-->
<div class="top">
    <div class="container">
        <ul class="loginbar pull-right">
            <li>
                <i class="icon-globe"></i>
                <a data-th-text="#{languages}">Languages</a>
                <ul class="lenguages">
                    <li class="active"><a href="#" data-th-text="#{languages.english}">English<i
                            class="icon-ok"></i></a></li>
                    <li><a href="#" data-th-text="#{languages.turkish}">Türkçe</a></li>
                </ul>
            </li>
            <li class="devider"></li>
            <li><a data-th-href="@{/demo/help}" href="help.html">Help</a></li>
            <li class="devider"></li>
            <li><a data-th-href="@{/demo/login}" href="login.html">Login</a></li>
            <li class="devider"></li>
            <li><a data-th-href="@{/demo/signup}" href="signup.html">Sign Up</a></li>
        </ul>
    </div>
</div>
<!--/top-->
<!--=== End Top ===-->
<!--=== Header ===-->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index_ex.html">
                    <img id="logo-header" src="../../../resources/img/logo1.gif" alt="Logo"
                         data-th-src="@{/resources/img/logo1.gif}"/>
                </a>
            </div>
        </div>
    </div>
</div>
<!--/header-->
<!--=== End Header ===-->
<!--=== Content Part ===-->
<div class="container">
    <div class="row">
        <!--Basic Form-->
        <div class="panel panel-blue margin-bottom-10 col-lg-offset-6" style="margin-left:25%; margin-right:25%; ">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-tasks"></i><span data-th-text="#{design.title.search}">Design Search</span>
                </h3>
            </div>
            <div class="panel-body">
                <form class="margin-bottom-10" role="form">
                    <div class="form-group">
                        <label for="grantNo" data-th-text="#{design.label.grantNo}">Grant No</label>
                        <input type="text" class="form-control margin-bottom-10 " id="grantNo"
                               placeholder="ex: 2000 01234"/>
                    </div>
                    <div class="form-group">
                        <label for="productName" data-th-text="#{design.label.productName}">Product Name</label>
                        <input type="text" class="form-control margin-bottom-10" id="productName"
                               placeholder="ex: Masa"/>
                    </div>
                    <div class="form-group">
                        <label for="applicantName" data-th-text="#{design.label.applicant}">Applicant
                            name</label>
                        <input type="text" class="form-control margin-bottom-10" id="applicantName"
                               placeholder="ex: Tuğba Limited"/>
                    </div>
                    <div class="form-group">
                        <label for="classification" data-th-text="#{design.label.classification}">Locarno
                            Classification</label>
                        <input type="text" class="form-control margin-bottom-10" id="classification"
                               placeholder="ex: 07-01"/>
                    </div>
                    <div class="form-group">
                        <label for="designer" data-th-text="#{design.label.designer}">Designer</label>
                        <input type="text" class="form-control margin-bottom-10" id="designer"
                               placeholder="ex: Tuğba YILMAZ"/>
                    </div>
                    <div class="form-group">
                        <label for="attorney" data-th-text="#{design.label.attorney}">Attorney</label>
                        <input type="text" class="form-control margin-bottom-10" id="attorney"
                               placeholder="ex: Tuğba YILMAZ"/>
                    </div>

                    <div class="form-group">
                        <label data-th-text="#{design.label.bulletin}">Bulletin</label>

                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label class="input-group-addon" for="bulletinNo"
                                           data-th-text="#{design.label.bulletinNo}">Bulletin Number</label>
                                    <input type="text" class="form-control margin-bottom-10" id="bulletinNo"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group margin-bottom-10">
                                    <label class="input-group-addon" for="bulletinDate"
                                           data-th-text="#{design.label.bulletinDate}">Bulletin date</label>
                                    <input type="text" class="form-control datetime margin-bottom-10"
                                           id="bulletinDate"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="orderStatus" data-th-text="#{design.label.order}">Order results</label>
                        <select class="form-control margin-bottom-10" id="orderStatus">
                            <option>Product Name</option>
                            <option>Designer</option>
                            <option>Owner ID number</option>
                            <option>Owner name</option>
                            <option>Owner Nationality</option>
                            <option>Owner Town/Country</option>
                            <option>Filing date</option>
                            <option>Registration date</option>
                            <option>Bulletin date</option>
                            <option>Bulletin number</option>
                        </select>
                    </div>
                    <div class="col-lg-offset-5 col-lg-10">
                        <button type="submit" class="btn-u btn-u-blue"
                                onclick="window.location.href='design_result.html';">Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--End Basic Form-->
    </div>
    <!--/row-->
</div>
<!--/container-->
<!--=== End Content Part ===-->

<!--=== Footer ===-->
<div class="footer">
    <!--=== Copyright ===-->
    <span data-th-text="#{footer.copy1}">2014 </span> &copy; <span
        data-th-text="#{footer.copy2}">|Türk Patent Enstitüsü </span>
    <a data-th-src="@{/demo/policy}" href="policy.html">Privacy Policy</a>
    <!--=== End Copyright ===-->
</div>
<!--/footer-->
<!--=== End Footer ===-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="../../../resources/lib/jquery-1.10.2.min.js"
        data-th-src="@{/resources/lib/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" src="../../../resources/lib/jquery-migrate-1.2.1.min.js"
        data-th-src="@{/resources/lib/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" src="../../../resources/lib/bootstrap/js/bootstrap.min.js"
        data-th-src="@{/resources/lib/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../../../resources/lib/hover-dropdown.min.js"
        data-th-src="@{/resources/lib/hover-dropdown.min.js}"></script>
<script type="text/javascript" src="../../../resources/lib/back-to-top.js"
        data-th-src="@{/resources/lib/back-to-top.js}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="../../../resources/js/app.js" data-th-src="@{/resources/js/app.js}"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
    });
</script>
<!--[if lt IE 9]>
<script src="../../../resources/lib/respond.js" data-th-src="@{/resources/lib/respond.js}"></script>
<![endif]-->

</body>
</html> 