<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title data-th-text="#{meta.title}">TPE Online Search and Tracking | Welcome...</title>
    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="../../../resources/lib/bootstrap/css/bootstrap.min.css"
          data-th-href="@{/resources/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../../resources/css/style.css" data-th-href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" href="../../../resources/css/headers/header1.css "
          data-th-href="@{/resources/css/headers/header1.css}"/>
    <link rel="stylesheet" href="../../../resources/css/responsive.css"
          data-th-href="@{/resources/css/responsive.css}"/>
    <link rel="shortcut icon" href="favicon.ico" data-th-href="@{/resources/favicon.ico}"/>
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../resources/lib/font-awesome/css/font-awesome.css"
          data-th-href="@{/resources/lib/font-awesome/css/font-awesome.css}"/>

    <!-- CSS Theme -->
    <link rel="stylesheet" href="../../../resources/css/themes/red.css" id="style_color"
          data-th-href="@{/resources/css/themes/red.css}"/>
    <link rel="stylesheet" href="../../../resources/css/themes/headers/header1-red.css" id="style_color-header-1"
          data-th-href="@{/resources/css/themes/headers/header1-red.css}"/>
</head>
<body>
<!--=== Top ===-->
<div class="top">
    <div class="container">
        <ul class="loginbar pull-right">
            <li>
                <i class="icon-globe"></i>
                <a data-th-text="#{languages}">Languages</a>
                <ul class="lenguages">
                    <li class="active"><a href="#" data-th-text="#{languages.english}">English<i
                            class="icon-ok"></i></a></li>
                    <li><a href="#" data-th-text="#{languages.turkish}">Türkçe</a></li>
                </ul>
            </li>
            <li class="devider"></li>
            <li><a data-th-href="@{/demo/help}" href="help.html">Help</a></li>
            <li class="devider"></li>
            <li><a data-th-href="@{/demo/login}" href="login.html">Login</a></li>
            <li class="devider"></li>
            <li><a data-th-href="@{/demo/signup}" href="signup.html">Sign Up</a></li>
        </ul>
    </div>
</div>
<!--/top-->
<!--=== End Top ===-->
<!--=== Header ===-->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index_ex.html">
                    <img id="logo-header" src="../../../resources/img/logo1.gif" alt="Logo"
                         data-th-src="@{/resources/img/logo1.gif}"/>
                </a>
            </div>
        </div>
    </div>
</div>
<!--/header-->
<!--=== End Header ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form class="reg-page" id="signup_form">
                <div class="reg-header">
                    <h2 data-th-text="#{signup.header}">Register a new account</h2>
                </div>

                <label data-th-text="#{user.id.label}">ID</label>
                <input type="text" class="form-control margin-bottom-20"/>

                <label data-th-text="#{user.name.label}">Name</label>
                <input type="text" class="form-control margin-bottom-20"/>

                <label data-th-text="#{user.surname.label}">SurName</label>
                <input type="text" class="form-control margin-bottom-20"/>

                <label data-th-text="#{user.address.label}">Address</label>
                <textarea name=" " id="" cols="10" rows="5" class="form-control margin-bottom-20"></textarea>

                <label data-th-text="#{user.phone.label}">Phone</label>
                <input type="text" class="form-control margin-bottom-20"/>

                <label data-th-text="#{user.email.label}">Email Address <span class="color-red">*</span></label>
                <input type="email" class="form-control margin-bottom-20"/>

                <div class="row">
                    <div class="col-sm-6">
                        <label data-th-text="#{user.password.label}">Password <span class="color-red">*</span></label>
                        <input type="password" class="form-control margin-bottom-20"/>
                    </div>
                    <div class="col-sm-6">
                        <label data-th-text="#{user.confirmpassword.label}">Confirm Password <span
                                class="color-red">*</span></label>
                        <input type="password" class="form-control margin-bottom-20"/>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-6">
                        <label class="checkbox">
                            <input type="checkbox" data-th-text="#{signup.checkbox1}"/>
                            <a class="color-green" href="terms.html" data-th-href="@{/demo/terms}"><span
                                    data-th-text="#{signup.terms.header}"> Terms and Conditions </span></a>
                        </label>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-lg-6 text-right">
                            <button class="btn-u" type="submit" data-th-text="#{button.label.register}">Register
                            </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!--/container-->
<!--=== End Content Part ===-->

<!--=== Footer ===-->
<div class="footer">
    <!--=== Copyright ===-->
    <span data-th-text="#{footer.copy1}">2014 </span> &copy; <span
        data-th-text="#{footer.copy2}">|Türk Patent Enstitüsü </span>
    <a href="policy.html" data-th-href="@{/demo/policy}">Privacy Policy</a>
    <!--=== End Copyright ===-->
</div>
<!--/footer-->
<!--=== End Footer ===-->


<!-- JS Global Compulsory -->
<script type="text/javascript" src="../../../resources/lib/jquery-1.10.2.min.js"
        data-th-src="@{/resources/lib/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" src="../../../resources/lib/jquery-migrate-1.2.1.min.js"
        data-th-src="@{/resources/lib/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" src="../../../resources/lib/bootstrap/js/bootstrap.min.js"
        data-th-src="@{/resources/lib/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../../../resources/lib/hover-dropdown.min.js"
        data-th-src="@{/resources/lib/hover-dropdown.min.js}"></script>
<script type="text/javascript" src="../../../resources/lib/back-to-top.js"
        data-th-src="@{/resources/lib/back-to-top.js}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="../../../resources/js/app.js" data-th-src="@{/resources/js/app.js}"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
    });
</script>
<!--[if lt IE 9]>
<script src="../../../resources/lib/respond.js" data-th-src="@{/resources/lib/respond.js}"></script>
<![endif]-->

</body>
</html>